body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background: #004c30; /* Pine Green */
    color: #FFD700; /* Gold */
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #FFD700; /* Gold */
    text-decoration: none;
}

.hero {
    background: url('school.jpg') no-repeat center center/cover;
    padding: 2em 0;
    text-align: center;
    color: #094d01;
}

.hero .btn {
    background: #FFD700; /* Gold */
    color: #015e3c; /* Pine Green */
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 2em 0;
}

.staff .staff-member {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.staff .staff-member img {
    border-radius: 50%;
    margin-right: 1em;
    width: 100px;
    height: 100px;
}

.gallery .gallery-item {
    display: inline-block;
    margin: 1em;
    text-align: center;
}

.gallery .gallery-item img {
    max-width: 100%;
    border-radius: 10px;
}

.testimonials .testimonial {
    background: #015e3c; /* Pine Green */
    color: #FFD700; /* Gold */
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.faq .faq-item {
    margin-bottom: 1em;
}

.contact #map {
    width: 100%;
    height: 300px;
    margin-bottom: 1em;
}

footer {
    background: #015e3c; /* Pine Green */
    color: #FFD700; /* Gold */
    text-align: center;
    padding: 1em 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 0.5em;
}

footer ul li a {
    color: #FFD700; /* Gold */
    text-decoration: none;
}

.box>li>ul{
display: none;
}
.box>li:target>ul{
display:block;
}

.dropbtn {
    background-color: #02744a;
    color: #FFD700;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content:focus-within {
      display:none !important;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}